---
layout: page
title: Events
permalink: /posts/
---

      <div class="row marketing">
        <div class="col-lg-12">
        {% for post in site.posts limit: 3 %}
                <h4 style="color:#1f5b9b">{{ post.title }}</h4>
                <span class="date" style="color:#939aa0"><span class="glyphicon glyphicon-calendar"></span> <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span><br/>
                <p>{{ post.excerpt }}</p>
                <p><a class="btn btn-xs btn-info" href="{{site.baseurl}}{{post.url}}">View details &#187;</a></br></p>
        {% endfor %}
        </div>

<!-- Start of all posts -->
{% for post in site.posts %}
    <article>

        <header>
            <h4 style="color:#1f5b9b"><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h4>
            <span class="date" style="color:#939aa0"><span class="glyphicon glyphicon-calendar"></span> <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span></br>
            <span class="category" style="color:#939aa0"><span class="glyphicon glyphicon-tag"></span> {{ post.categories | category_links }}</span></br>
            <span class="author" style="color:#939aa0"><span class="glyphicon glyphicon-user"></span> {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
        </header>

        <p class="entry">{{ post.excerpt }}</p>
        <p class="muted"><a class="btn btn-sm btn-info" href="{{site.baseurl}}{{post.url}}">View Post &#187;</a></p>
    </article>
        </br>
{% endfor %}
<!-- End of all posts -->