---
layout: page
title: Events
permalink: /posts/
---


<!-- Start of all posts -->
    <div class="row marketing">
        <div class="col-lg-8">
        {% for post in site.posts %}
            <article>
                <header>
                    <h4 style="color:#1f5b9b"><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h4>
                    <span class="date" style="color:#939aa0"><span class="glyphicon glyphicon-calendar"></span> <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span></br>
                    <span class="category" style="color:#939aa0"><span class="glyphicon glyphicon-tag"></span> {{ post.categories | category_links }}</span></br>
                    <span class="author" style="color:#939aa0"><span class="glyphicon glyphicon-user"></span> {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
                </header>

                <p class="entry">{{ post.excerpt }}</p>
                <p class="muted"><a class="btn btn-sm btn-info" href="{{site.baseurl}}{{post.url}}">View Post &#187;</a></p>
            </article>
                </br>
        {% endfor %}
        </div>
<!-- End of all posts -->

        <div class="container col-lg-4">
                <table class="table table-condensed table-hover" align="center">
                  <thead>
                    <tr>
                      <th><h4 style="color:#1f5b9b">Annual Activities</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td align="center"><a class="fancybox fancybox.iframe" href="{{site.annualactivityurl}}/2014-2015.html"><button type="button" class="btn btn-xs btn-info">2014-2015</button></a></td>
                    </tr>
                    <tr>
                      <td align="center"><a class="fancybox fancybox.iframe" href="{{site.annualactivityurl}}/2013-2014.html"><button type="button" class="btn btn-xs btn-success">2013-2014</button></a></td>
                    </tr>
                    <tr>
                      <td align="center"><a class="fancybox fancybox.iframe" href="{{site.annualactivityurl}}/2012-2013.html"><button type="button" class="btn btn-xs btn-success">2012-2013</button></a></td>
                    </tr>
                  </tbody>
                </table>
        </div>
    </div>