      <div class="footer">
          <p><span class="text-left">
            <a href="http://twitter.com/UM_AAPS"><img src="{{site.imageurl}}/icons/twitter.png" width="24" height="24"></a>
            <a href="http://github.com/umaaps"><img src="{{site.imageurl}}/icons/twitter.png" 
            width="24" height="24"></a>
<!--            <a href="https://www.facebook.com/umaaps"><img src="{{site.imageurl}}/icons/facebook.png" width="24" height="24"></a> -->
            </span>
            <span class="pull-right">
            &#169; UASC {{ site.time | date: '%Y' }} &middot; <a href="{{site.baseurl}}/about/">About UASC</a> <span class="text-muted">Hosted on <a href="http://github.org/">GitHub</a></span>
            </span>
            </p>
      </div>
