    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li {% if page.url == '/' %} class="active"{% endif %}><a href="{{site.url}}">Home</a></li>
          <li{% if page.url == '/posts/' %} class="active"{% endif %}><a href="{{site.baseurl}}/posts/">Event</a></li>
          <li{% if page.url == '/photo/' %} class="active"{% endif %}><a href="{{site.baseurl}}/photo/">Photo</a></li>
          <li{% if page.url == '/resource/' %} class="active"{% endif %}><a href="{{site.baseurl}}/resource/">Resource</a></li>
          <li{% if page.url == '/about/' %} class="active"{% endif %}><a href="{{site.baseurl}}/about/">About</a></li>
        </ul>
        <h3 class="text-muted">UM AAPS Student Chapter</h4>
      </div>
