<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li {% if page.url == '/' %} class="active"{% endif %}><a href="{{site.url}}">Home</a></li>
          <li{% if page.url == '/posts/' %} class="active"{% endif %}><a href="{{site.baseurl}}/posts/">Event</a></li>
          <li{% if page.url == '/gallery/' %} class="active"{% endif %}><a href="{{site.baseurl}}/gallery/">Gallery</a></li>
          <li{% if page.url == '/resource/' %} class="active"{% endif %}><a href="{{site.baseurl}}/resource/">Resource</a></li>
          <li{% if page.url == '/about/' %} class="active"{% endif %}><a href="{{site.baseurl}}/about/">About</a></li>
        </ul>
        <h3 class="text-muted"><img src="{{site.imageurl}}/umaaps_logo.png" /> UM AAPS Chapter</h4>
      </div>
