    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <!-- Add jQuery library -->
    <script type="text/javascript" src="{{site.fancyboxurl}}/lib/jquery-1.10.1.min.js"></script>
    <script src="{{site.bootstrapurl}}/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.bootstrapurl}}/js/ie10-viewport-bug-workaround.js"></script>