---
layout: default
---

<article>
        <header>
            <h3 style="color: #1f5b9b">{{ page.title }}</h3></br>
            <span class="date" style="color:#939aa0"><span class="glyphicon glyphicon-calendar"></span> <time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>
            <span class="category" style="color:#939aa0"><span class="glyphicon glyphicon-tag"></span> {{ page.categories | category_links }}</span><br/>
            <span class="author" style="color:#939aa0"><span class="glyphicon glyphicon-user"></span> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif %}</span>
        </header>
        <br /></div>
        <div class="entry" align="justify">{{ content }}</div><br />
</article>
